.principal-box {
    text-align:center;
    padding:20px;
    border-radius:5px;
    -moz-border-radius:5px ;
    -webkit-border-radius:5px;
    margin-bottom:40px;
}
    .principal-box a,.principal-box a:hover {
        color:#fff;
        text-decoration:none;

    }
.mb-dull {
    background-color:#8F8F2C;
}
.mb-green {
    background-color:#08990A;
}
.mb-orange {
    background-color:#EE9E0A;
}
.mb-purple {
    background-color:#8724FE;
}
.mb-lightblue {
    background-color:#12B6CA;
}


    .principal-box h5 {
        font-size:16px;
        font-weight:800;
        text-transform:uppercase;
    }
